article{
    margin: 100px;
    width:360px;
    border: 2px solid black;
    padding: 20px;
    font-family: cursive;
    font-size: large;
}

.row1{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.row2{
    display: flex;
}


.row1 button{
    background-color: rgb(255, 208, 0);
    border:2px solid black ;
    box-shadow: 3px 3px 0px black;  
    padding: 0px 10px ;
    margin: 0px 5px 5px 5px;
    
     
}

h1{
     margin: 0px 5px 5px 5px;
}

.row2 p{
     margin: 0px 15px 5px 5px;
}

